@model System.Collections.Generic.List<Models.Log>

@{
    ViewBag.Title = "View Logs";
}

<h2>View Logs</h2>
<hr />

<a href="@Url.Action("Index", "Log", new { userId = Model.FirstOrDefault().PersonId })"><span>&#8592 Back</span></a>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Date Added
                </th>
                <th width="40px">
                    Sets
                </th>
            </tr>
        </thead>
        @foreach (var log in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(log.Title, "ViewLog", new { logId = log.Id })
                </td>
                <td>
                    @log.DateAdded
                </td>
                <td>
                    @log.SetCount
                </td>
            </tr>
        }
    </table>
</div>
