@model System.Collections.Generic.List<Models.Log>

@{
    ViewBag.Title = "View Logs";
}

<h2>View Logs</h2>

@Html.ActionLink("<- Back", "Index", new { userId = Model.FirstOrDefault().PersonId })

<div>
    <table>
        <tr>
            <th>
                Title
            </th>
            <th>
                Date Added
            </th>
        </tr>
        @foreach (var log in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(log.Title, "ViewLog", new { logId = log.Id })
                </td>
                <td>
                    @log.DateAdded
                </td>
            </tr>
        }
    </table>
</div>
